src/main/app/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></mule>
<flow name="test">
   <http:inbound-endpoint exchange-pattern="one-way"
      host="localhost" port="8081" path="search"/>
   <db:select config-ref="Database_Connector"> 
       <db:dynamic-query>
           <![CDATA[SELECT * FROM users WHERE (firstname=#[message.inboundProperties['firstname']])]]>
       </db:dynamic-query>
   </db:select>
   <foreach>
      <logger message="Hello from #[payload.firstname]
         #[payload.lastname]" level="INFO"/>
   </foreach>
   <json:object-to-json-transformer />
</flow>
</mule>